@model PERK.Models.Case

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Case</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateReviewed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateReviewed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reviewer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reviewer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CRNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CRNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SANEBarcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SANEBarcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clearance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clearance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VictimLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VictimLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VictimFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VictimFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VictimMiddleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VictimMiddleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Resealed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resealed)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
